body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;
  display: flex;
  padding: 5vw;
  text-align: center;
}

#header {
  display: none; /*Non posso controllo lo style senza pushare, quindi per ora lo lascio invisibile (tanto non mi piaceva quel tasto) poi nel caso lo aggiungiamo in futuro*/
  background-color: #1a1a1a;
  align-items: end;
  padding-right: 5vw;
}
#header > .fork {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

#title {
  text-align: center;
  margin: auto;
}
#title > h1 {
  background-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #FFF;
}
#title > span {
  display: none; /*Per non mostrare i credits in alto*/
}

.wrapper {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.wrapper > section > ul > li::marker {
  display: none;
}
.wrapper > section > ul > li > a {
  text-decoration: none;
  color: #525252;
  font-size: 24px;
  line-height: 32px;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}
.wrapper > section > ul > li > a:hover {
  background-color: #333;
  color: #fff;
}
